# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/docs
!/src
!/tests
!/tools
!/vendor
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!install-local.sh

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber

# Exclude Python bytecode cache
__pycache__/
